body {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  body {
    background-image: url('./images/backgrounds/Site-background-light_600.jpg');
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    background-image: url('./images/backgrounds/Site-background-light_1024.jpg');
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  body {
    background-image: url('./images/backgrounds/Site-background-light_1200.jpg');
  }
}

@media (min-width: 1201px) and (max-width: 1280px) {
  body {
    background-image: url('./images/backgrounds/Site-background-light_1280.jpg');
  }
}

@media (min-width: 1281px) and (max-width: 1500px) {
  body {
    background-image: url('./images/backgrounds/Site-background-light_1500.jpg');
  }
}

@media (min-width: 1501px) and (max-width: 2048px) {
  body {
    background-image: url('./images/backgrounds/Site-background-light_2048.jpg');
  }
}

@media (min-width: 2049px) {
  body {
    background-image: url('./images/backgrounds/Site-background-light_2880.jpg');
  }
}
